.container{
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  border-radius: 8px;
}

.input{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.input input{
padding: 12px;
font-size: 16px;
border: none;
}

.input button{
  padding: 5px 12px;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.user{
  padding: 15px;
  border-radius: 10px;
  border: solid 1px;
  text-align: center;
}

.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
